{% extends 'base/base.html' %}
{% load static %}

{% block css%}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block title %}Category{% endblock %}

{% block body %}
<div class='container d-flex align-items-center justify-content-center h-100 w-100'>
    <div class="row d-flex justify-content-center text-white bg-info rounded shadow p-3 mb-5 mt-5 w-75">
        <div class="text-warning text-center col-12 d-flex justify-content-center align-content-center">
            <i class="material-icons pr-2">storage</i>
            <h4>Category Menu</h4>
        </div>
        <div class="col-12 text-center">
            {% for category in category_list %}
                <a class="text-white" href= "{% url 'category_single' category.slug %}">{{category.title}}</a><br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}