{% extends 'base/base.html' %}
{% load static %}


{% block title %}
    musicara
{% endblock %}
    
{% block css %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container h-100 w-100 d-flex align-content-center justify-content-center">
        <div class="row d-flex justify-content-center h-25 content">
            <div class="col-12 d-flex justify-content-center ">
                <i class="material-icons text-warning" style="font-size: 35px;">music_note</i>
                <h1 class="align-middle text-info pb-2">musicara</h1>
                <i class="material-icons text-warning" style="font-size: 35px;">music_note</i>
            </div>
            <div class="col-md-12 col-sm-7 col- d-flex justify-content-between pt-5">
                <a href="{% url 'login' %}" class="text-info"><u>login</u></a>
                <a href="{% url 'register' %}" class="text-info"><u>register</u></a>
            </div>
        </div>
        <div class="fixed-bottom d-flex justify-content-center w-25" style="left: 37%;">
            <div class="text-white text-center">
                <p style="font-size: larger;"><b><i>~~feel music pleasure~~</i></b></p>
            </div>
        </div>
    </div>
{% endblock %}
    