#first{
    border: 1px solid black;
    width: 170px;
    height: 50px;
    padding-left: 10px;
    margin-left: 78px;
    margin-top: 20px;
}
#first_header{
    margin-top: -10px;
    background-color: white;
    width: fit-content;
}
.name_field{
    margin-left: 22px;
}
.mail_field{
    margin-left: 18px;
}
input{
    border: 1px solid black;
}